.user-table {
  width: 100%;
}

.user-table__table {
  width: 100%;
  border-collapse: collapse;
}

.user-table__row {
  cursor: pointer;
}

.user-table__row:hover {
  background-color: #f2f2f2;
}

.user-table__row--active {
  background-color: #f2f2f2;
}

.user-table__details {
  background-color: #f2f2f2;
}

.user-table__details>td {
  padding: 10px;
}